
.score_container {
    display: flex;
    justify-content: space-around;
}

.time_number {
    font-size: 1.5em;
}

.score{
    width: 120px;
    border-width: 0.05em;
    border-style:solid;
    border-color: black;
    border-radius: 20%;
    padding: 0.5em;
}